"*":
  Hydrogen: {}
  "atom-beautify":
    _analyticsUserId: "221df0f9-10b8-41d9-a3e1-0ad8bdd12898"
  "atom-ctags":
    GotoSymbolKey: [
      "meta"
    ]
    autoBuildTagsWhenActive: true
  "atom-ide-ui":
    use: {}
  "atom-inline-blame":
    format: "∵ %summary% → %author%, %relativeTime% ago"
    timeout: 2000
  "atom-lupa":
    positionOfBreadcrumbs: "bottom"
    positionOfPanel: "right"
    shouldShowBreadcrumbs: false
  "atom-ternjs":
    inlineFnCompletion: false
    inlineFnCompletionDocumentation: true
    snippetsFirst: true
    useSnippets: true
  "autoclose-html": {}
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus":
    autoActivationDelay: 100
    defaultProvider: "Symbol"
    maxVisibleSuggestions: 5
    similarSuggestionRemoval: "textOrSnippet"
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
    ]
    highlightMatchingLineNumber: true
  clock:
    am_pm_suffix: true
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.shell": [
        "fish"
      ]
    disabledPackages: [
      "wrap-guide"
      "vim-mode"
      "vim-mode"
      "vim-mode"
      "vim-mode"
      "teletype"
      "emmet"
      "spell-check"
      "prettier-atom"
      "tree-view-autoresize"
      "ide-typescript"
      "atom-ide-ui"
      "color-picker"
      "background-tips"
      "js-hyperclick"
      "hyperclick"
      "ctags-status"
      "atom-ctags"
      "atom-ternjs"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "bower_components"
    ]
    packagesWithKeymapsDisabled: [
      "hyperclick"
      "symbol-gen"
    ]
    projectHome: "/Users/aditya/dev"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "lomokai-syntax"
    ]
    useTreeSitterParsers: false
  docblockr: {}
  editor:
    fontFamily: "Dank Mono"
    fontSize: 13
    invisibles:
      space: " "
    lineHeight: 1.9
    preferredLineLength: 150
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "04e1ceb0-f0f7-4cfe-cb6f-d8e0a8378d4c"
  "file-icons":
    coloured: false
    onChanges: true
  "fold-functions":
    autofold: true
    debug: true
    skipAutofoldWhenNotFirstLine: true
    skipAutofoldWhenOnlyOneFunction: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "glowing-cursor":
    cursorWidth: 2
    glowColor: "#ff2f92"
    innerColor: "#ff2f92"
    transitionDuration: 400
  "goto-definition": {}
  hasklig:
    fontWeight: "regular"
  "highlight-selected": {}
  "js-hyperclick":
    jumpToImport: true
    usePendingPanes: true
  "jump-to-import":
    enableDebug: true
  "language-babel":
    autoIndentJSX: true
  linter:
    lintPreviewTabs: false
  "linter-eslint":
    advanced:
      localNodeModules: "node_modules"
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    disabling:
      rulesToSilenceWhileTyping: [
        "no-trailing-spaces"
        "eol-last"
      ]
  "linter-stylelint": {}
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    decorateOnTreeView: "None"
    gutterPosition: "Left"
    panelHeight: 146
    showTooltip: false
  "livestyle-atom":
    analyzer:
      notify: false
  "lomokai-syntax": {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
  narrow:
    locationToOpen: "center"
  nuclide:
    use:
      "atom-ide-diagnostics-ui": false
  "one-dark-ui": {}
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions: {}
    prettierOptions:
      trailingComma: "all"
  "seti-syntax":
    themeColor: "Green"
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
    hideProjectTab: true
    hideTitleBar: true
  "split-diff":
    colors:
      addedColor: "#b4cd00"
      removedColor: "#fb2b71"
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  sunset:
    daytime_syntax_theme: "monokai-seti"
    daytime_ui_theme: "seti-ui"
    nighttime_syntax_theme: "pure-syntax"
    nighttime_ui_theme: "seti-ui"
    when_does_it_get_dark: 1900
    when_does_it_get_light: 600
  swackets:
    colorParens: true
    colorSquareBrackets: true
  "symbols-list":
    basic:
      hideOnEmptyList: true
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  tabs:
    enableVcsColoring: true
  "todo-show":
    ignoreThesePaths: [
      "src/build"
      "node_modules"
      "external_libs"
      "bower_components"
    ]
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "vim-mode": {}
  "vim-mode-plus":
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 100
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 100
    smoothScrollOnRedrawCursorLine: true
    smoothScrollOnRedrawCursorLineDuration: 100
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
  weboutline:
    SupportBabelLikeFunctions: true
  welcome:
    showOnStartup: false
".reason.source":
  editor:
    preferredLineLength: 110
