"*":
  Hydrogen:
    kernelspec: "{\"kernelspecs\":{\"javascript\":{\"resource_dir\":\"/Users/aditya/Library/Jupyter/kernels/javascript\",\"spec\":{\"language\":\"javascript\",\"display_name\":\"Javascript (Node.js)\",\"env\":{},\"argv\":[\"/usr/local/Cellar/node/5.9.1/bin/node\",\"/usr/local/lib/node_modules/ijavascript/lib/kernel.js\",\"{connection_file}\",\"--protocol=5.0\"]}},\"python2\":{\"resource_dir\":\"/Users/aditya/anaconda/lib/python2.7/site-packages/ipykernel/resources\",\"spec\":{\"language\":\"python\",\"display_name\":\"Python 2\",\"env\":{},\"argv\":[\"/Users/aditya/anaconda/bin/python\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"]}}}}"
  "atom-beautify":
    _analyticsUserId: "221df0f9-10b8-41d9-a3e1-0ad8bdd12898"
  "atom-ctags":
    GotoSymbolKey: [
      "meta"
    ]
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=node_modules --exclude=dist --exclude=coverage --exclude=test.js"
  "atom-ide-ui":
    use: {}
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    useSnippets: true
  "autoclose-html": {}
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus":
    autoActivationDelay: 100
    maxVisibleSuggestions: 5
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
    ]
    highlightMatchingLineNumber: true
  clock:
    am_pm_suffix: true
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.shell": [
        "fish"
      ]
    disabledPackages: [
      "wrap-guide"
      "vim-mode"
      "vim-mode"
      "vim-mode"
      "vim-mode"
      "symbols-view"
      "teletype"
      "emmet"
      "spell-check"
      "language-javascript-plus"
      "prettier-atom"
      "tree-view-autoresize"
      "atom-ctags"
      "autocomplete-ctags"
      "ctags-status"
      "goto-definition"
      "ide-typescript"
      "atom-ide-ui"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "bower_components"
    ]
    packagesWithKeymapsDisabled: [
      "hyperclick"
      "symbol-gen"
    ]
    projectHome: "/Users/aditya/dev"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
    titleBar: "custom"
  docblockr: {}
  editor:
    fontFamily: "DejaVu Sans Code"
    fontSize: 11
    invisibles:
      space: " "
    lineHeight: 2
    preferredLineLength: 150
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "04e1ceb0-f0f7-4cfe-cb6f-d8e0a8378d4c"
  "file-icons":
    coloured: false
    onChanges: true
  "fold-functions":
    autofold: true
    debug: true
    skipAutofoldWhenNotFirstLine: true
    skipAutofoldWhenOnlyOneFunction: true
  github: {}
  "glowing-cursor":
    cursorWidth: 2
    glowColor: "#ff2f92"
    innerColor: "#ff2f92"
    transitionDuration: 400
  "goto-definition": {}
  hasklig:
    fontWeight: "regular"
  "highlight-selected": {}
  "js-hyperclick":
    jumpToImport: true
    usePendingPanes: true
  "language-babel":
    autoIndentJSX: true
    emmetCSSAutocomplete: true
  linter: {}
  "linter-eslint":
    advancedLocalNodeModules: "node_modules"
    fixOnSave: true
    ignoreFixableRulesWhileTyping: true
    rulesToSilenceWhileTyping: [
      "no-trailing-spaces"
      "eol-last"
    ]
  "linter-stylelint": {}
  "linter-ui-default":
    panelHeight: 56
    showPanel: true
  "livestyle-atom":
    analyzer:
      notify: false
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
  nuclide:
    use:
      "atom-ide-diagnostics-ui": false
  "one-dark-ui": {}
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions: {}
    prettierOptions:
      trailingComma: "all"
  "seti-syntax":
    themeColor: "Green"
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
    hideProjectTab: true
    hideTitleBar: true
  "split-diff":
    colors:
      addedColor: "#b4cd00"
      removedColor: "#fb2b71"
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  sunset:
    daytime_syntax_theme: "monokai-seti"
    daytime_ui_theme: "seti-ui"
    nighttime_syntax_theme: "pure-syntax"
    nighttime_ui_theme: "seti-ui"
    when_does_it_get_dark: 1900
    when_does_it_get_light: 600
  swackets:
    colorParens: true
    colorSquareBrackets: true
  "symbols-tree-view":
    autoToggle: true
  "todo-show":
    ignoreThesePaths: [
      "src/build"
      "node_modules"
      "external_libs"
      "bower_components"
    ]
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    squashDirectoryNames: true
  "vim-mode": {}
  "vim-mode-plus":
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 100
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 100
    smoothScrollOnRedrawCursorLine: true
    smoothScrollOnRedrawCursorLineDuration: 100
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
  welcome:
    showOnStartup: false
".reason.source":
  editor:
    preferredLineLength: 110
